<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/westernmassive/" target="_blank">@westernmassive</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/westernmassive/" target="_blank">@westernmassive</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/alaena" target="_blank">linkedin.com/in/alaena</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://alaenavandermost.com/" target="_blank">alaenavandermost.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:elle.kasai@gmail.com" target="_blank">alaena.vandermost@gmail.com</a></p>